<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Заказы</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"></script>
    <style type="text/css">
        TABLE {
            border-collapse: collapse;
        }
        TD, TH {
        padding: 3px;
        border: 1px solid black;
        }
        TH {
        background: #b0e0e6;
        }


    </style>
</head>
<body>
<div th:insert="blocks/headerAdmin :: headerAdmin"></div>
<div class="container">
    <form action="#" th:action="@{/admin/all-product/update/watch}" th:object="${watch}" method="post"
          enctype="multipart/form-data">
        <input class="form-control" type="text" th:field="*{id}" style="display: none;">
        <label>Название часов</label>
        <input class="form-control" type="text" th:field="*{name}">
        <br>
        <label>Диаметр </label>
        <select th:field="*{watchDiameter}">
            <th:block th:each="diameter : ${allDiameter}">
                <option th:value="${diameter.id}" th:text="${diameter.diameter}">Один</option>
            </th:block>
        </select>
        <br>
        <label>Цвет, материал корпуса и ремешка </label>
        <select th:field="*{colorBody}">
            <th:block th:each="color : ${allColorBody}">
                <option th:value="${color.id}" th:text="${color.color}">Один</option>
            </th:block>
        </select>
        <br>
        <label class="col-form-label">Статус товара</label>
        <select th:field="*{statusProduct}">
            <th:block th:each="status : ${allStatus}">
                <option th:value="${status.id}" th:text="${status.status}">Один</option>
            </th:block>
        </select>
        <br>
        <label class="col-form-label">Цена</label>
        <input class="form-control" type="text" th:field="*{prise}">
        <label class="col-form-label">Информация</label>
        <textarea class="form-control" type="text" rows="3" th:field="*{info}"></textarea>
        <br>
        <label class="col-form-label">Изображение</label>
        <input class="form-control" type="file" name="fileWatch" id="fileWatch">
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
</div>

</body>
</html>