<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"></script>
</head>
<body>
<th:block th:insert="blocks/header :: header"></th:block>
<div class="container text-center">
    <div class="row">
        <div class="col-1">
        </div>
        <div class="col-9">
            <h2 class="text-start"
                th:text="${iphone.name} + ' ' + ${iphone.color.color} + ' ' + ${iphone.size.size} + ' Гб'"></h2>
            <div class="card mb-3" style="max-width: auto;">
                <div class="row g-0">
                    <div class="col-md-6">
                        <img th:src="@{'/images/iphone/' + ${iphone.image}}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title"
                                th:text="'Apple ' + ${iphone.name} +' '+ ${iphone.color.color} + ' ' + ${iphone.size.size} + ' Гб'"></h5>

                            <p class="card-text">Цвет</p>

                            <div class="row row-cols-auto">
                                <div th:each="iphoneColor : ${listIphoneColor}">
                                    <div class="col">
                                        <a th:href="@{'~/iphons/'+${iphone.name} + '/' + ${iphone.size.size} + '/' + ${iphoneColor} }"
                                           class="btn btn-primary" th:text="${iphoneColor}"></a>
                                    </div>
                                </div>
                            </div>

                            <p class="card-text">Объем памяти</p>

                            <div class="row row-cols-auto">
                                <div th:each="iphoneSize : ${listIphoneSize}">
                                    <div class="col">
                                        <a th:href="@{'~/iphons/'+${iphone.name} + '/' + ${iphoneSize} + '/' + ${iphone.color.color} }"
                                           class="btn btn-primary" th:text="${iphoneSize} + ' Гб'"></a>
                                    </div>
                                </div>
                            </div>

                            <br>

                            <div class="row">
                                <div class="col-8">
                                    <div class="card text-bg-light p-2 text-center">
                                        <div class="card-body">
                                            <h4 class="card-title text-start" th:text="${iphone.prise} + ' ₽'">
                                            </h4>
                                            <p class="text-start">Цена со скидкой при оплате наличными</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-1">
                                </div>
                                <div class="col-10">
                                    <div class="row row-cols-auto">
                                        <div class="col">
                                            <a th:href="|/basket/add/${iphone.category.id}/${iphone.id}|" class="btn btn-primary fs-6">Добавить
                                                в корзину</a></div>
                                        <div class="col">
                                            <p th:text="${iphone.statusProduct.status}"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-1">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <p class="text-center fw-normal fs-3" th:text="${iphone.info}">
                </p>
            </div>
            <div>
            </div>
        </div>
        <div class="col-1">
        </div>
    </div>
</div>
</body>
</html>